<html>

<head>
    <title>Projekt</title>
</head>

<body>
    <h1>>Projekt</h1>
    <ul>
        <%
            for(var i = 0; i < Projekt.length; i++){
                %>
            <li>
                <%= Projekt[i].titel %>
            </li>
            <%
            }
    
    %>

    </ul>

</body>

</html>
